{% extends "base.html" %}
{% block content %}
    <h1>My Projects</h1>
    <div class="outer_box">
        
            <img class="circle" src="{{ url_for('static', filename='sentiment.png') }} ">
        
        <div class="inner_right_box">
            <p> 
                    This is Summary of the model
                    This is Summary of the model
                    This is Summary of the model
                    This is Summary of the model
                    This is Summary of the model
                    This is Summary of the model
                    This is Summary of the model
                    This is Summary of the model
                    This is Summary of the model
                    This is Summary of the model
                    This is Summary of the model
                    This is Summary of the model
                    This is Summary of the model
                    This is Summary of the model
                    This is Summary of the model
                    This is Summary of the model
                    This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
                This is Summary of the model
            </p>
        </div>
    </div>
{% endblock content %}